<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ SITENAME }}{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{SITEURL}}/theme/style.css" />
</head>

<body>
    <div class="main-content">
        <a class="header" href="{{ SITEURL }}/index.html">
            <h2 class="title-prefix" style="clear: right;">University of Waterloo</h2>
        </a>
        <aside>
            {% include "includes/sidebar.html" %}
        </aside>
        <a class="header" href="{{ SITEURL }}/index.html"><h1 class="title">Game Development Club</h1></a>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>
