@font-face
{
  font-family: Roboto;
  src: url(Roboto-Light.ttf);
}

@font-face
{
  font-family: BebasNeue;
  src: url(BebasNeue-Regular.otf);
}

aside
{
    float: right;
    width: 25%;
    height: 100%;
    margin-top: 0;
}

html, body
{
  height: 100%;
  font-family: "Roboto";
  font-size: 14px;
}

h1, h2
{
  margin: 0;
  padding: 0;
  font-family: "BebasNeue";
  font-weight: normal;
}

.title-prefix
{
  font-size: 30px;
}

.title
{
  font-size: 72px;
}

.main-content
{
  padding-top: 20px;
  padding-left: 50px;
}

h3
{
  font-size: 18px;
}

.center
{
}

article img[alt=small]
{
    width: 150px;
}

article img[alt=medium]
{
    width: 300px;
}
