@font-face
{
  font-family: Roboto;
  src: url(Roboto-Light.ttf);
}

@font-face
{
  font-family: BebasNeue;
  src: url(BebasNeue-Regular.otf);
}

aside
{
    float: right;
    width: 25%;
    height: 100%;
    margin-top: 0;
}

html, body
{
  height: 100%;
  font-family: "Roboto";
}

h1, h2
{
  font-family: "BebasNeue";
}

.title
{
}

.center
{
}

article img[alt=small]
{
    width: 150px;
}

article img[alt=medium]
{
    width: 300px;
}

aside strong
{
  text-decoration: none;
  font-size: 18pt;
}

aside nav ul
{
  list-style: none;
  padding-left: 0;
  font-size: 14pt;
}

aside a
{
  text-decoration: none;
  color: black;
}

aside a:visited
{
  color: black;
}

aside a:hover
{
  color: blue;
}